<fa-app class="full-screen">
  <fa-modifier fa-origin="[0, 0]">
    <fa-modifier
      fa-size="repulsionBar.size"
      fa-translate="repulsionBar.position.get()">
      <fa-surface class="repulsionBar"
        fa-background-color="'rgb(5,22,48)'"> {{rectData}}
      </fa-surface>
    </fa-modifier>
    <fa-modifier
      ng-repeat="picture in pictures"
      fa-size="[400, 300]"
      fa-translate="picture.rect.getPosition()">
      <fa-image-surface
        class="center-box"
        fa-image-url={{picture.photo}}
        fa-background-color="'rgb(5,22,48)'"
        fa-color="'rgb(255,255,250)'"
        fa-pipe-to="picture.EH">
        {{greeting}} hello
      </fa-surface>
    </fa-modifier>
  </fa-modifier>
</fa-app>